.About_page{
    width: 100vw;
    height: 100vh;
    background: #17022c91;
    overflow-x: hidden;
 }
 .HeroImg2{
     margin-top: 5rem;
 }
 .about{
     background: #17022c91;
 }
 
 .heading {
     text-align: center;
     font-size: 1.5rem;
     font-weight: 600;
     color: rgb(10, 134, 241);
     padding: 5px 15px;
     margin: 1rem 0;
     margin-bottom: -7px;
 }
 .aboutUs {
     text-align: center;
     font-size: 1rem;
     font-weight: 500;
     padding: 5px 15px;
     color: rgb(170, 167, 167);
 }
 .about .row {
     display: flex;
     align-items: center;
     gap: 0.5rem;
     flex-wrap: wrap;
     padding: .3rem 0;
     padding-bottom: 3rem;
     /* margin-left: 1.5rem; */
 }
 
 .about .row .video-container {
     flex: 1 1 15rem;
     height: 26rem;
     border: 2px solid rgb(10, 134, 241);
     border-radius: 2rem;
     box-shadow: 0 0 10px rgb(10, 134, 241);
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     margin: 1px 37px;
     /* animation: glowing 2s infinite; */
 }
 @keyframes glowing{
     0% {
         box-shadow: 0 0 10px rgb(10, 134, 241); /* Start with a small glow */
       }
       50% {
         box-shadow: 0 0 20px rgb(10, 134, 241); /* Increase the glow midway through the animation */
       }
       100% {
         box-shadow: 0 0 10px rgb(10, 134, 241); /* Return to the original glow at the end */
       }
 }
 .video_row{
     border: 2px solid rgb(10, 134, 241);
     border-radius: 2rem;
     width: 18rem;
     height: 22rem;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgb(10, 134, 241);
     overflow: hidden;
     margin: 2px 20px;
     animation: glowing 2s infinite;
 }
 
 .image{
    min-width: 10rem;
    max-width: 20rem;
    border-radius: 14rem;
 }
 /* .DV{
     border: 2px solid rgb(10, 134, 241);
     width: 15rem;
     height: 15rem;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;  
 } */
 @media (min-width:832px){
 .video_row{
     width: 43rem;
     }   
 }
 @media (min-width:767px){
     .video_row{
         width: 43rem;
         }   
     }
 @media (max-width:520px){
     .content>h3{
         display: none;
     }
 }
 
 /* .about .row .video-container img {
     width: 100%;
     height: 95%;
     margin: 5px 15px;
 } */
 
 .about .row .video-container h3 {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     font-size: 2rem;
     width: 100%;
     padding: 5px 0px;
     text-align: center;
     margin: 20px 0 40px;
 }
 
 .about .row>.content {
     flex: 1 1 40rem;
     padding: 5px 15px;
 }
 .content>h3{
     background: rgba(10, 133, 241, 0.137);
     width: 170px;
     text-align: center;
     font-size: 19px;
     font-weight: 500;
     letter-spacing: 0.3px;
     border-radius: 3px;
     color: rgb(204, 198, 198);
 }
 .onai2{
     color: rgb(204, 198, 198);
 }
 
 .about .row .content p {
     font-size: 1rem;
     color: rgb(134, 130, 134);
     padding: 5px 10px;
     padding-top: 0.7rem;
     line-height: 1.5;
 }
 .btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin-top: 1rem;
     border-radius: 8px;
     border: 2px solid rgb(10, 134, 241);
     color: rgb(10, 134, 241);
     padding: .9rem 3.5rem;
     cursor: pointer;
     font-size: 19px;
     font-weight: 600;
     letter-spacing: 1px;
     box-shadow: 0 0 10px rgb(10, 134, 241);
     margin: 12px;
     transition: 0.5s;
 }
 