.Home{
    width: 100vw;
    height: 100vh;
    background: #17022c;
    overflow-x: hidden;
 }
 .Home::-webkit-scrollbar{
    display: none;
 }
 .StarSkill{
    max-width: 1390px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding: 0px 10px;
    background: #17022c;
 }
 .heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(10, 134, 241);
    padding: 5px 15px;
    margin: 1rem 0;
    margin-bottom: -7px;
}
.heading5 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(10, 134, 241);
    padding: 5px 15px;
    margin: 1rem 0;
    margin-bottom: -7px;
}
.aboutUs {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 15px;
    color: rgb(170, 167, 167);
}
.about .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: .3rem 0;
    padding-bottom: 3rem;
    /* margin-left: 1.5rem; */
}
.video-container {
    flex: 1 1 15rem;
    height: 26rem;
    border: 2px solid rgb(10, 134, 241);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgb(10, 134, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 1px 37px;
    /* animation: glowing 2s infinite; */
}
@keyframes glowing{
    0% {
   box-shadow: 0 0 10px rgb(10, 134, 241); /* Start with a small glow */
    }
    50% {
    box-shadow: 0 0 25px rgb(10, 134, 241); /* Increase the glow midway through the animation */
    }
    100% {
    box-shadow: 0 0 10px rgb(10, 134, 241); /* Return to the original glow at the end */
    }
}
.video_row{
    border: 2px solid rgb(10, 134, 241);
    border-radius: 2rem;
    width: 18rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(10, 134, 241);
    overflow: hidden;
    margin: 2px 20px;
    animation: glowing 2s infinite;
}

.image{
   min-width: 10rem;
   max-width: 20rem;
   border-radius: 14rem;
}
 @media (min-width:427px){
     .StarSkill{
         padding: 0px 40px;
     }
 }
 @media (min-width:360px){
     .StarSkill{
         padding: 1px 1px;
     }
 }
 
 #Aboutmee1{
    display: flex;
    width: 350px;
    height: 60px;
}
 
 @media (min-width:700px){
     .Collection{
         width: auto;
     }
     .video_row{
        width: 43rem;
        }
 }
 .skill_Icons{
    margin-bottom: 9px;
    color: rgb(10, 134, 241);
 }
 
 .Collection{
    width: 300px;
    height: 180px;
 }
 .Collection p {
    font-size: 12px;
    font-weight: 500;
 }
 .Collection p ul li{
    font-size: 17.5px;
    font-weight: 500;
 }

 /* media here */
 @media (max-width:500px){
    html{
        font-size: 100%;
    }
    #Aboutmee1{
        display: flex;
        width: 350px;
        height: 45px;
    }
    .heading5 {
        text-align: center;
    }
     .Collection{
         width: 394px;
     }
     .Project-card{
        padding: 0.11rem;
     }
     .Experiences{
         justify-content: center;
         width: 100px;
         height: auto;
         border-radius: 4px;
     }
     .Experiences h2{
         font-size: 0.5rem;
         font-weight: 500;
     }
     .Experiences p{
         font-size: 0.8rem;
         font-weight: 500;
     }
     html {
         font-size: 100%;
         scroll-behavior: smooth;
     }
     .StarSkill{
         width: 100vw;
     }
     .btn1 {
         padding: 0.9rem 3.5rem;
     }
     .Client-services .Service-icon{
         font-size: 46px;
         font-weight: 600;
         color: rgb(10, 134, 241);
         cursor: pointer;
     }
     .Client-services p{
         font-size: 1.3rem;
         font-weight: 900;
         color: rgb(143, 143, 143);
     }
 }
 .about .row>.content {
    flex: 1 1 40rem;
    padding: 5px 15px;
}
.content>h3{
    background: rgba(10, 133, 241, 0.137);
    width: 170px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.3px;
    border-radius: 3px;
    color: rgb(204, 198, 198);
}
.onai2{
    color: rgb(204, 198, 198);
}
.client-mark{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    gap: 1px;
}

.about .row .content p {
    font-size: 0.8rem;
    color: rgb(134, 130, 134);
    padding: 5px 10px;
    padding-top: 0.7rem;
    line-height: 1.5;
    max-width: 700px;
}
 
 figure{
    margin: 0;
    position: relative;
    flex: 1 1 15rem;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    overflow: hidden;
    margin: 2px 37px;
 }
 .me-image{
    height: 250px;
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
 }
 .image-bg{
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: -20px;
    left: -10px;
    border: 2px solid #fff;
    box-shadow: 0 0 15px #fff;
    display: none;
 }
 .btn1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 8px;
    border: 2px solid rgb(10, 134, 241);
    color: rgb(10, 134, 241);
    padding: 1rem 1rem;
    width: 10rem;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    box-shadow: 0 0 10px rgb(10, 134, 241);
    margin: 12px;
    transition: 0.5s;
 }
 .btn1:hover{
    background: rgb(10, 134, 241);
    color: #fff;
 }
 .button{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: none;
 }
 #btn2:hover .Arrow{
    color: #fff;
 }
 .btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 8px;
    border: 2px solid rgb(10, 134, 241);
    color: #fff;
    padding: 1.3rem 1.5rem;
    width: 10rem;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(10, 134, 241);
    margin: 12px;
    transition: 0.5s;
 }
 
 .Experiences{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: auto;
    border-radius: 4px;
 }
 .Experiences h2{
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 3px;
    color: rgb(10, 134, 241);
 }
 .Experiences p{
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: 1px;
    color: rgb(143, 143, 143);
 }
 .Services-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .Services{
    width: 200px;
 }
 .Client-services{
    border-radius: 4px;
 }
 .Client-services .Service-icon{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(10, 134, 241);
    cursor: pointer;
 }
.Client-services p{
    font-size: 0.8rem;
    font-weight: 900;
    color: rgb(143, 143, 143);
}
